.matias1{
    border-radius: 5rem;
}
.sede{
    border-radius: 5rem;
}
.experiencia{
    border-radius: 5rem;
}

.b{
    background-color: #292F36;
}

.resumen{
    background-color: #4ECDC4;
    border-radius: 5rem;
}

.pformacion{
    align-content: center;
    background-color: #FF6B6B;
    border-radius: 5rem;
}

.exp{
    background-color: #FFE66D;
    border-radius: 5rem;
}

nav{
    background-color: #F7FFF7;
}

